*{
    margin: 0;
}
.navbar {
    background-color: orange;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: white;
    padding: 30px 16px;
    
}
.navbar a:hover{
    color: green;
}
.productform {
    margin-left: 36%;
}
#address{
    margin-left: 6px;
    width: 500px;
    height: 130px;
}
.ourshop {
    border-radius: 400px;
    width: 15%;
}
.container {
    display: flex;
}

.btn{
    background-color: orange;
    border-radius: 10px;
    
}
.contactimg img{
    width: 500px;
    height: 300px;
    right: 10%;
    top: 100%;

}
footer {
    color: #fff;
    text-align: center;
}
.footerending{
    
    text-align: center;
    padding: 20px;
    background-color: black;    
   
}
.footerending p{
    margin-top: 40px;
    color: white;
}

#graycolor{
    color: gray;
}
