*{
    margin: 0;
}
.navbar {
    background-color: orange;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: white;
    padding: 30px 16px;
    
}
.productform {
    margin-left: 36%;
}
#address{
    margin-left: 6px;
    width: 500px;
    height: 130px;
}
.ourshop {
    border-radius: 400px;
    width: 15%;
}
.container {
    display: flex;
}
.navbar a:hover{
    color: green;
}
.btn{
    background-color: orange;
    border-radius: 10px;
    
}
.contactimg img{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 60%;
    top: 100%;

}